html, body { height: 99%; }

.grid {
  height: 100%;

  .column {
    float: left;
    height: 100%;

    &.wide {
      width: 80%;
    }

    &.narrow {
      width: 20%;
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#pane {
  height: 100%;
}

#chat {
  border: 1px solid black;
  overflow-y: scroll;
}

#compose {
  height: 100px;
}

#participants {
}
