<!DOCTYPE html>
<html>
  <head>
    <title>SpaceChat</title>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery.timeago.js"></script>
    <script type="text/javascript" src="/jquery.mustache.js"></script>
    <script type="text/javascript" src="/socket.io.min.js"></script>
    <script type="text/javascript" src="/templates.js"></script>
  </head>
  <body>
    Hi world!
  </body>
</html>
