<!DOCTYPE html>
<html>
  <head>
    <title>SpaceChat</title>
    {{{baseStylesheets}}}
    {{{baseJavascripts}}}
    {{#clientTemplate}}loremIpsum{{/clientTemplate}}

    <link rel="stylesheet/less" type="text/css" href="/less/main.less" />
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="span4">
      </div>
      <div class="span10">
      </div>
    </div>
  </body>
</html>
