<!DOCTYPE html>
<html>
  <head>
    <title>SpaceChat</title>
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/main.less" />
    {{{baseJavascripts}}}
    {{#clientTemplate}}loremIpsum{{/clientTemplate}}
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="chat">
      </div>
      <div id="participants">
        <div class="participant">
          firefax
        </div>
      </div>
    </div>
  </body>
</html>
